- manifest_path = pwa['short-name'] + '.webmanifest'
doctype html
html
  head
    title= pwa.name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='theme-color', content=pwa.theme_color)
    link(rel='stylesheet', href='style.css')
    link(rel='icon', href='icons/icon_128.png')
    link(rel='manifest', href=manifest_path)
    link(rel='apple-touch-icon', href='icons/icon_192.png')
    script(type='text/javascript', src='index.js')
  body(onload='initGlow()')
    #gs-title
      span Glowing
      img(src='icons/icon_128.png')
      span Sniffle
    #gs-nols(style='display:none')
      h2 Oh non !
      Malheureusement votre appareil ne supporte pas la technologie nécessaire à l'utilisation de cette app. Nous sommes sincérement désolé.
    #gs-main.block
      .menu
        button#gs-main-left(onclick='GS.main.act("left")')
          i &#xf060;
        button(onclick='GS.main.act("prefs")')
          i &#xf013;
        button(onclick='GS.main.act("curbs")')
          i &#xf625;
        button#gs-main-right(onclick='GS.main.act("right")')
          i &#xf061;
      #gs-main-date.inblock ??/??/??
      #gs-main-list.inblock.full main
        //
        // TODO
        //
      .menu
        button#gs-main-add.btn-large(onclick='GS.main.act("add")')
          i &#xf067;
    #gs-add.block
      .inblock.title Ajouter un exercice
      #gs-add-nothing.inblock.full
        span Vous n'avez aucun exercice...
        br
        span Pour l'instant ;-)
        br
        br
        span Utiliser le bouton '+' pour ajouter de nouveaux exercices
      #gs-add-list.inblock.full ???
      //
      // TODO
      //
      .menu
        button(onclick='GS.add.act("back")')
          i &#xf060;
        button(onclick='GS.add.act("create")')
          i &#xf067;
        button(onclick='GS.add.act("valid")')
          i &#xf00c;
    #gs-create.block
      .inblock.title Créer un exercice
      .inblock.full
        label(for='gs-create-name') Nom du nouvel exercice :
        input#gs-create-name(
          maxlength=22
          size=25
          oninput='GS.create.act("update")'
        )
        label Type d'exercice :
        .radios
          input#gs-create-type-rep(name='gs-create-type',type='radio',checked)
          label(for='gs-create-type-rep') répétition
          br
          input#gs-create-type-time(name='gs-create-type',type='radio')
          label(for='gs-create-type-time') temps
      .menu
        button(onclick='GS.create.act("back")')
          i &#xf060;
        button#gs-create-valid(onclick='GS.create.act("create")')
          i &#xf067;
    #gs-prefs.block
      .menu
        button(onclick='GS.prefs.act("main")')
          i &#xf0ca;
        button(onclick='GS.prefs.act("curbs")')
          i &#xf625;
      //
      // TODO
      //
      .nothing.full Rien ici pour le moment
      //
      //
      // TODO: reset de l'app
      // TODO: effacer depuis une date
      // TODO: autorisé l'effacement d'exercice
      //
      //
    #gs-curbs.block
      .menu
        button(onclick='GS.curbs.act("main")')
          i &#xf0ca;
        button(onclick='GS.curbs.act("prefs")')
          i &#xf013;
      //
      // TODO
      .nothing.full Cette partie n'est pas encore disponible, revenez plus tard
      //

